.user_post {
  position: relative;
  .post {
    > img {
      height: 293px;
      width: 293px;
    }
  }
  .like-cmt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
