.chat {
  background-color: black;
  margin: 20px;
  color: white;
  display: flex;
  border-radius: 5px;
  border: solid 1px grey;
  height: 100vh;
  span {
    color: white;
  }
  Button {
    color: white;
  }
  .chat-left {
    width: 349px;
    border-right: solid 1px grey;
    .left-header {
      text-align: center;
      height: 60px;
      padding: 0px 20px;
      border-bottom: solid 1px grey;
    }
    .left-username {
      padding: 8px 0px 0px;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        background-color: rgb(91, 94, 94);
      }
      .username-header {
        padding: 8px 20px;
        display: flex;
        align-items: center;
        img {
          height: 56px;
          border-radius: 50%;
          margin-right: 12px;
        }
        .username {
          position: relative;
          width: 100%;
          > :first-child {
            font-weight: 500;
          }
          .user-content {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            > :first-child {
              color: #a8a8a8a8;
              max-width: 197px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            > :last-child {
              color: #a8a8a8a8;
            }
          }
        }
      }
    }
  }

  .chat-right {
    width: 583px;
    .right-header {
      height: 60px;
      border-bottom: solid 1px grey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      .header-user {
        display: flex;
        align-items: center;
        img {
          border-radius: 50%;
          height: 24px;
          margin: 8px;
        }
        span {
          font-weight: 500;
          font-size: 1rem;
        }
      }
      .header-icon {
        display: flex;
        align-items: center;
        img {
          padding: 8px;
        }
      }
    }
    .chat-content {
      padding: 0px 20px;
      height: 84%;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        background-color: rgb(91, 94, 94);
      }
    }
    .rep-chat {
      padding: 0 8px 0 11px;
      height: 44px;
      border: solid 1px grey;
      border-radius: 20px;
      display: flex;
      align-items: center;

      input {
        background-color: transparent;
        color: white;
        border: none;
        width: 400px;
        outline: none;
        // outline: none;
        &:placeholder-shown {
          color: rgb(231, 207, 207);
        }
      }
      img {
        padding: 8px;
      }
    }
  }
}
